* {
  padding: 0;
  margin: 0;
  font-weight: normal;
}

body {
  font-family: sans-serif;
  width: 100%;
  color: #000000;
  min-height: 100%;
  background-color: #f1f1f1;
}

header {
  width: inherit;
  text-align: center;
  height: 65px;
  line-height: 65px;
  background-color: #222222;
  color: #fdfdfd;
}

section.wrapper {
  width: 800px;
  margin: 0 auto;
  padding: 16px;
}

section div {
  margin-top: 8px;
}

section > div {
  margin-top: 20px;
  padding: 12px 16px;
  border: 1px solid #dfdfdf;
  border-radius: 5px;
  background-color: #fff;
}

input, textarea {
  margin: .4rem;
}

.box-input {
  padding: 12px;
  border: 1px solid #cccccc;
  border-radius: 5px;
  box-sizing: border-box;
}

.full-width {
  width: 100%;
}

button {
  display: inline-block;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: .25rem;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
}

button:hover {
  cursor: pointer;
  color: #007bff;
  border-color: #007bff;
  background-color: #fff;
}

